@import "leaflet";

.loadingModal {
  .modal-wrapper {
    height: 80px;
  }
}

offlinemap {
  .modal-wrapper {
    height: 80px;
  }
  #_map {
    width: 100%;
    height: 100%;
  }
  .leaflet-control .icon {
    font-family: IonIcons;
  }
}
