<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
     </button>
     <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-item no-lines *ngIf="loginError" class="errorMessage">
      <em ion-text color="danger">{{ loginError }}</em>
    </ion-item>
      <ion-item>
        <ion-label for="username" floating>Username:</ion-label>
        <ion-input type="text" id="username" formControlName="username"></ion-input>
        <p item-end *ngIf="!valid('username')" class="errorMessage">
          <em ion-text color="danger" *ngIf="errors('username').required">Required</em>
        </p>
      </ion-item>
      <ion-item>
        <ion-label for="password" floating>Password:</ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
        <p item-end *ngIf="!valid('password')" class="errorMessage">
          <em ion-text color="danger" *ngIf="errors('password').required">Required</em>
        </p>
      </ion-item>
      <ion-item no-lines>
        <button (click)="login()" ion-button type="submit">Login</button>
      </ion-item>
  </form>
</ion-content>
